body > .main-header .logo {
  font-family: "helvetica", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;
}

/* logo field set to TNO blue */
.skin-blue .main-header .logo {
    background-color: #619DCB;
}

/* main header color set to TNO lightblue */
.skin-blue .main-header .navbar {
    background-color: #72A7D1;
}

/* side bar color set to TNO lightblue */
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background: #f7f7f7;
}

/* side bar text set to black */
.sidebar {
  color: #000000;
}

/* body background color set to grey97 */
.content-wrapper {
    min-height: 100%;
    background-color: #f7f7f7;
    z-index: 800
}

.control-label {
  color: #111111;
}

ul.nomark {
  list-style-type: none;
}
